<!doctype html>
<html>

  {% include head.html %}

  <body class="{% if page.body_class %}{{ page.body_class }}{% endif %} js-Marginotes">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="Offcanvas">
    <div class="Offcanvas-inner">

      {{ content }}

    </div>
    </div>

    <!-- build:js(.tmp) /js/vendor.js -->
    <script src="/../bower_components/jquery/dist/jquery.js"></script>
    <script src="/../bower_components/underscore/underscore.js"></script>
    <script src="/../bower_components/backbone/backbone.js"></script>
    <script src="/../bower_components/picturefill/src/picturefill.js"></script>
    <script src="/../bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/js/vendor/d3.min.js"></script>
    <script src="/js/vendor/topojson.min.js"></script>
    <!-- endbuild -->
    <!-- build:js(.tmp) /js/main.js -->
    <script src="/js/app.js"></script>
    <script src="/js/story.js"></script>
    <script src="/js/marginotes.js"></script>
    <!-- endbuild -->

    {% include vendor_scripts.html %}
  </body>
</html>