---
layout: default
---
{% include navigation.html %}

<div class="Content">
  <div class="Content-inner">
    <div class="u-inner">
      <article class="Content-body {% if page.marginotes %}js-Marginotes{% endif %}" itemscope itemtype="http://schema.org/BlogPosting">
        {% if page.marginotes %}<div class="Marginote js-Marginote"></div>{% endif %}

        <div class="Content-header">
          <h1 class="Title Title--h1 Content-title Content-title--h1 Title--cTypo1" itemprop="name headline">{{ page.title }}</h1>
          <p class="Content-subtitle">{{ page.description }}</p>
        </div>

        <div itemprop="articleBody">

          {{ content }}

        </div>
      </article>

      <div class="Sep Sep--content"></div>

      {% include share.html %}
    </div>
  </div>
</div>

{% include related.html %}

{% include footer.html %}
