---
layout: default
---

{% include navigation.html %}

<div class="Content">
  <div class="Content-inner">
    <div class="u-inner">
      <div class="Content-body">
        <div class="Marginote js-Marginote"></div>

        <div class="Content-header">
          <h1 class="Title Title--cTypo1 Title--h1">{{ page.title }}</h1>
          <p class="Content-subtitle">{{ page.description }}</p>
        </div>

        {{ content }}

      </div>

      <div class="Sep Sep--content"></div>

      {% include share.html %}
    </div>
  </div>
</div>

<div class="Content">
  {% include related.html %}
</div>

{% include footer.html %}
