---
layout: default
---
<header class="Header js-Header">
  <div class="Header-background Header-background--cover Header-background--image"></div>
  <div class="Header-background Header-background--black"></div>

  <a href="/" class="Header-icon Header-icon--back Icon Icon--s36">{% include icons/icon-back.svg %}</a>
  <a href="https://twitter.com/intent/tweet?text={% if page.twitter_text %}{{ page.twitter_text }}{% elsif page.title_meta %}{{ page.title_meta }}{% elsif page.title %}{{ page.title }}{% endif %}&amp;url={{ page.url | prepend: site.url }}&amp;via=matallo" class="Header-icon Header-icon--share Icon Icon--s24" title="Tweet this">{% include icons/icon-twitter.svg %}</a>

  <div class="Header-footer">
    <div class="Stats">
      <div class="u-inner">
        <p class="Stats-item"><strong class="Stats-number">{{ page.days }}</strong> days</p>
      </div>
    </div>
  </div>
</header>

{% include navigation.html %}

<div class="Content">
  <div class="Content-inner Content-inner--post">
    <div class="u-inner">
      <article class="Content-body" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="Map js-Map"></div>
        <div class="Marginote js-Marginote"></div>

        <div class="Content-header">
          <h1 class="Title Title--cTypo1 Title--h1" itemprop="name headline">{{ page.title }}</h1>
          <p class="Content-subtitle">{{ page.description }}</p>
        </div>

        <div itemprop="articleBody">

          {{ content }}

        </div>
      </article>

      <div class="Sep Sep--content js-Sticky"></div>

      {% include share.html %}
    </div>
  </div>
</div>

<div class="Content">
  {% include related.html %}
</div>

{% include footer.html %}
