---
layout: default
---
<header class="Header js-Header">
  <div class="Header-background Header-background--cover Header-background--image"></div>
  <div class="Header-background Header-background--black"></div>

  <a href="/" class="Header-back Icon Icon--s36">{% include icons/icon-back.svg %}</a>

  <div class="Header-footer">
    <div class="Stats">
      <div class="u-inner">
        <p class="Stats-item"><strong class="Stats-number">{{ page.days }}</strong> days</p>
      </div>
    </div>
  </div>
</header>

{% include navigation.html %}

<div class="Content Content--post">
  <div class="u-inner">
    <article class="Content-inner" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="Map js-Map"></div>
      <div class="Marginote js-Marginote"></div>

      <div class="Content-header">
        <h1 class="Content-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="Content-subtitle"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time> — {{ page.description }}</p>
      </div>

      <div class="Content-body" itemprop="articleBody">

        {{ content }}

      </div>
    </article>

    <div class="Sep Sep--content js-Sticky"></div>

    {% include share.html %}
  </div>

  {% include related.html %}
</div>

{% include footer.html %}
