// Blocks
// --------------------------------------------------

.Block {
  margin-top: 60px;
}
.Block-title {
  margin-top: 40px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
