// Blockquote
// --------------------------------------------------

.Pullquote {
  margin: 40px;
  font-size: 21px;
  line-height: 30px;
  text-align: center;

  @media (max-width: $sMedia--m) {
    margin: 40px 20px;
  }

  span {
    position: relative;
    font-weight: 700;
    font-size: 31px;
    line-height: 0;
    color: $cGrey3;

    &:first-child {
      left: -5px;
    }
    &:last-child {
      right: -5px;
    }
  }
}
.Blockquote {
  border-left: 3px solid $cGrey3;
  padding-left: 20px;
  padding-bottom: 3px;
  font-style: italic;
}
