// Blocks
// --------------------------------------------------

.Block {
  margin-top: $spacing-unit * 3;

  @include media-query($layout-m) {
    text-align: center;
  }
}
.Block-title {
  margin-top: $spacing-unit * 2;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
