// Buttons
// --------------------------------------------------

.Button {
  display: inline-block;
  border: 1px solid $cGrey2;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  color: $cTypo3;
  border-radius: 3px;
  transition: all .2s;
  outline: none;

  &:hover {
    text-decoration: none;
    border-color: $cGrey1;
    color: darken($cTypo3, 10%);
  }

  > span {
    display: inline-block;
  }
}
.Button--m {
  > span {
    padding: 12px 24px;
  }
}
