/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.Button {
  display: inline-block;
  border: 1px solid var(--color-grey2);
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  color: var(--color-typo3);
  border-radius: 3px;
  transition: all 0.2s;
  outline: none;

  &:hover {
    text-decoration: none;
    border-color: var(--color-grey1);
    color: var(--color-typo3--hover);
  }

  > span {
    display: inline-block;
  }
}
.Button--m {
  > span {
    padding: 12px 24px;
  }
}
