// Card
// --------------------------------------------------

.Card {
  display: block;
  width: 100%;
  border: 1px solid rgba(#000, .1);
  border-radius: 3px;

  &:hover {
    border: 1px solid rgba(#000, .2);
    text-decoration: none;
  }
}
.Card-image {
  display: block;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 -1px 0px rgba(#000, .1) inset;
}
.Card-inner {
  padding: 20px;
}
.Card-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: $cTypo1;

  @media (max-width: $layout-m) {
    font-size: 18px;
    line-height: 22px;
  }
}
.Card-title--small {
  font-size: 18px;
  line-height: 22px;
}
.Card-title--link {
  a {
    color: $cTypo1;

    &:hover {
      color: $cTypo1;
      text-decoration: none;
    }
  }
}
.Card-subtitle,
.Card-description {
  font-weight: 400;
}
.Card-subtitle {
  margin-bottom: 10px;
  color: $cTypo3;
}
.Card-description {
  color: $cTypo2;
}
