// Content
// --------------------------------------------------

.Offcanvas {
  overflow: hidden;
}
.Content {
  position: relative;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}
.Content-inner {
  padding-top: 60px;
}
.Content-inner--post {
  margin-left: 25%;
  margin-right: 25%;

  @media (max-width: $layout-xl) {
    margin-left: auto;
    margin-right: auto;
  }
}
.Content-body {
  position: relative;

  p {
    + .Slideshow {
      margin-top: 20px;
    }
  }
  ul, ol {
    margin-left: 20px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    > p, > ul, > ol {
      margin-top: 10px;
      margin-bottom: 0;

      + p {
        margin-top: 10px;
      }
    }
  }
}
.Home-header {
  text-align: center;
}
.Content-header {
  margin-bottom: 40px;
}
.Content-title {
  margin-top: 40px;
}
.Content-title--h2 {
  margin-bottom: 20px;

  + .Content-title--h3 {
    margin-top: 20px;
  }
}
.Content-title--h3 {
  color: $cTypo3;
}
.Content-subtitle {
  font-size: 21px;
  line-height: 25px;
  color: $cTypo3;

  a {
    font-weight: 400;
  }
}
.Content-date {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  color: $cTypo3;
}
