// Content
// --------------------------------------------------

.Offcanvas {
  overflow: hidden;
}
.Content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-unit * 3;
}
.Content.Content--post {
  margin-left: 25%;
  margin-right: 25%;

  @include media-query($layout-m) {
    margin-left: auto;
    margin-right: auto;
  }
}
.Content-inner {
  position: relative;
  padding-top: $spacing-unit * 3;

  ul, ol {
    margin-left: $spacing-unit;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-bottom: $spacing-unit / 2;

    &:last-child {
      margin-bottom: 0;
    }

    > p, > ul, > ol {
      margin-top: $spacing-unit / 2;
      margin-bottom: 0;

      + p {
        margin-top: $spacing-unit / 2;
      }
    }
  }
}
.Home-header {
  text-align: center;
}
.Post-header {
  margin-bottom: $spacing-unit * 2;
}
.Content-title {
  margin-top: 0;
  margin-bottom: $spacing-unit / 2;
  letter-spacing: -1px;
}
.Content-subtitle {
  font-weight: 300;
  font-size: 21px;
  color: #999;

  a {
    font-weight: 300;
  }
}
.Content-date {
  margin-bottom: 0;
  font-size: 15px;
  text-transform: uppercase;
}
.Content-aside {
  width: 150px;
  float: right;
}
.Content-sep {
  display: block;
  width: 120px;
  height: 2px;
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
  background: #eee;
}
