// Footer
// --------------------------------------------------

.Footer {
  padding-top: $spacing-unit * 3;
  padding-bottom: $spacing-unit * 3;

  @include media-query($layout-m) {
    text-align: center;
  }
}
.Footer-description {
  display: inline-block;
  width: calc(100% - 104px);
  margin-bottom: 0;
  padding-left: $spacing-unit * 2;
  vertical-align: middle;

  @include media-query($layout-m) {
    width: 100%;
    margin-top: $spacing-unit * 2;
    padding-left: 0;
  }
}
.Footer-credits {
  text-align: center;
  color: #999;
}
