// Grid
//
// --------------------------------------------------

.Grid {
  display: flex;
}
.Grid-inner {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-right: -20px;
  margin-left: -20px;
}
.Grid-cell {
  padding-right: 20px;
  padding-left: 20px;
}
.Grid-cell--col6 {
  flex: 0 0 50%;
  max-width: 50%;

  @media (max-width: $layout-m) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
