// Header
// --------------------------------------------------

.Header {
  position: relative;
  height: 300px;
}
.Header.Header--home {
  height: 550px;

  @include media-query($layout-m) {
    display: none;
  }
}
.Header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Header-background.Header-background--cover {
  background-size: cover;
  background-position: center;
}
.Header-background.Header-background--black {
  background: rgba(#000, .2);
}
.Header-footer {
  position: absolute;
  bottom: $spacing-unit / 2;
  width: 100%;
  color: #fff;
}
