// Header
// --------------------------------------------------

.Header {
  position: relative;
  height: 300px;
}
.Header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Header-background--cover {
  background-size: cover;
  background-position: center;
}
.Header-background--vietnam {
  background-image: url("../img/21660789875_470f590f01_b.jpg");
}
.Header-background--black {
  background: rgba(#000, .2);
}
.Header-footer {
  position: absolute;
  bottom: $spacing-unit / 2;
  width: 100%;
  color: #fff;
}
