// Header
// --------------------------------------------------

.Header {
  position: relative;
  height: 500px;

  @media (max-width: $layout-m) {
    height: 300px;
  }
}
.Header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Header-background--cover {
  background-size: cover;
  background-position: center;
}
.Header-background--black {
  background: rgba(#000, .2);
}
.Header-back {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: .6;
  transform: translateX(0);
  transition: all .2s;

  &:hover {
    opacity: .8;
    transform: translateX(-2px);
  }
}
.Header-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #fff;
}
