// Icon
// --------------------------------------------------
.Icon {
  > svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }
}
$icon-sizes: (12, 24, 36);
@each $size in $icon-sizes {
  .Icon--s#{$size} {
    > svg {
      height: #{$size}px;
    }
  }
}
.Icon--link {
  &:hover {
    .Icon-path {
      fill: $cGrey1;
    }
  }
}
.Icon-path {
  fill: $cGrey2;
  transition: all .2s;
}
.Icon--Twitter {
  .Icon-path {
    fill: $cTwitter;
  }
}
