/* ==========================================================================
   #MAP
   ========================================================================== */

.Map {
  position: absolute;
  top: 0;
  bottom: auto;
  width: 320px;
  transform: translate3d(-320px, 20px, 0);

  &.is-fixed {
    position: fixed;
  }

  &.is-bottom {
    bottom: 0;
    top: auto;
  }

  @media (max-width: var(--size-xxl) - 1px) {
    display: none;
  }
}
.Country {
  fill: var(--color-grey4);
}
.Route {
  fill: none;
  stroke: var(--color-grey1);
  stroke-dasharray: 2, 2;
  stroke-linejoin: round;
  stroke-linecap: round;

  &.is-hidden {
    display: none;
  }
}
.Route--story {
  display: none;
  stroke: var(--color-gold);
  stroke-opacity: 0.6;
  stroke-width: 3px;

  &.is-active {
    display: block;
  }
}
.City {
  fill: var(--color-typo3);

  &.is-active {
    fill: var(--color-typo1);
  }
}
.City-label {
  font-size: 10px;
  fill: var(--color-typo3);
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  cursor: pointer;

  &.is-visited {
    fill: var(--color-typo1);
  }

  &.is-active {
    fill: var(--color-typo1);
    font-weight: 600;
  }
}
