// Map
// --------------------------------------------------

.Map {
  position: absolute;
  top: 0;
  bottom: auto;
  width: 320px;
  transform: translate3d(-320px, 20px, 0);

  &.is-fixed {
    position: fixed;
  }

  &.is-bottom {
    bottom: 0;
    top: auto;
  }

  @media (max-width: $sMedia--xxl - 1px) {
    display: none;
  }
}
.Country {
  fill: $cGrey4;
}
.Route {
  fill: none;
  stroke: $cGrey1;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
  stroke-linecap: round;

  &.is-hidden {
    display: none;
  }
}
.Route--story {
  display: none;
  stroke: $cGold;
  stroke-opacity: .6;
  stroke-width: 3px;

  &.is-active {
    display: block;
  }
}
.City {
  cursor: pointer;
  fill: $cTypo3;

  &.is-active {
    fill: $cTypo1;
  }
}
.City-label {
  font-size: 10px;
  fill: $cTypo3;
  text-shadow: 0 1px 0 #FFF, 0 -1px 0 #FFF, 1px 0 0 #FFF, -1px 0 0 #FFF;
  cursor: pointer;

  &.is-visited {
    fill: $cTypo1;
  }

  &.is-active {
    fill: $cTypo1;
    font-weight: 600;
  }
}
