// Map
// --------------------------------------------------

.Map {
  display: block;
  position: absolute;
  top: 0;
  margin-left: -360px;

  &.is-fixed {
    position: fixed;
  }

  &.is-bottom {
    position: absolute;
    top: auto;
    bottom: -60px;
  }

  @media (max-width: $sMedia--xxl - 1px) {
    display: none;
  }
}
.Placeholder {
  display: none;
  position: absolute;
  top: 60px;
  left: -240px;
  width: 200px;
  height: 200px;
  background: $cGrey4;

  &.is-active {
    display: block;
  }
}
.Placeholder-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  color: $cTypo3;
  transition: color .2s;

  &:hover {
    color: darken($cTypo3, 5%);
  }
}
.Country {
  fill: $cGrey4;
}
.Route {
  fill: none;
  stroke: $cGrey1;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
  stroke-linecap: round;

  &.is-hidden {
    display: none;
  }
}
.Route--story {
  display: none;
  stroke: $cGold;
  stroke-opacity: .6;
  stroke-width: 3px;

  &.is-active {
    display: block;
  }
}
.City {
  cursor: pointer;
  fill: $cTypo3;

  &.is-active {
    fill: $cTypo1;
  }
}
.City-label {
  font-size: 10px;
  fill: $cTypo3;
  text-shadow: 0 1px 0 #FFF, 0 -1px 0 #FFF, 1px 0 0 #FFF, -1px 0 0 #FFF;
  cursor: pointer;

  &.is-visited {
    fill: $cTypo1;
  }

  &.is-active {
    fill: $cTypo1;
    font-weight: 600;
  }
}
