// Navbar
// --------------------------------------------------

.Navbar {
  height: 80px;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}
.Navbar-menu {
  margin-left: 0;
  text-align: center;
}
.Navbar-item {
  display: inline-block;
  margin-right: $spacing-unit * 2;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }

  @include media-query($layout-m) {
    margin-right: $spacing-unit;
  }
}
.Navbar-link {
  line-height: 80px;
  color: #999;
  transition: all .2s;

  &:hover {
    color: darken(#999, 5%);
    text-decoration: none;
  }
}
