// Separator
// --------------------------------------------------

.Sep {
  display: block;
  width: 120px;
  height: 2px;
  background: #eee;

  @include media-query($layout-m) {
    margin-right: auto;
    margin-left: auto;
  }
}
.Sep.Sep--center {
  margin-right: auto;
  margin-left: auto;
}
.Sep.Sep--content {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
}
