// Slideshow
// --------------------------------------------------

.Slideshow {
  width: calc(100% + 250px);
  margin-top: 40px;
  margin-bottom: 40px;

  @media (max-width: $layout-xl) {
    width: 100%;
  }

  iframe,
  img {
    max-width: 100%;
  }
}
.Slideshow--right {
  float: right;
}
.Slideshow--center,
.Slideshow--wide {
  iframe,
  img {
    border-radius: 3px;
  }
}
.Slideshow--center {
  width: $layout-l - 40px;
  margin-left: -($layout-l - $layout-m) / 2;

  @media (max-width: $layout-l) {
    width: 100%;
    margin-left: 0;
  }
}
.Slideshow--wide {
  width: $layout-xxl - 40px;
  margin-left: -($layout-xxl - $layout-m) / 2;

  @media (max-width: $layout-xxl) {
    width: 100%;
    margin-left: 0;
  }
}
.Slideshow-social {
  float: right;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #03b3ee;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}
