// Stats
// --------------------------------------------------

.Stats {
  text-align: right;
}
.Stats-item {
  display: inline-block;
  margin-left: $spacing-unit * 2;
  text-align: left;
  text-shadow: 0 2px 0 rgba(#000, .3);

  &:first-child {
    margin-left: 0;
  }
}
.Stats-number {
  display: block;
  margin-bottom: $spacing-unit / 2;
  font-weight: 400;
  font-size: 36px;

  @include media-query($layout-m) {
    font-size: 30px;
    line-height: 36px;
  }
}
