// Story
// --------------------------------------------------

.Story {
  display: block;
  position: relative;
  background: $cGrey4;
  overflow: hidden;

  &:hover {
    .Story-gradient {
      z-index: 20;
      background: rgba(#000, 0);
    }
    .Story-inner {
      opacity: 0;
      transform: scale(1.05);
    }
    .Story-img {
      transform: scale(1.01);
    }
  }
}
.Story--row {
  margin-top: 20px;
}
.Story-inner {
  z-index: 30;
  transition: all .2s ease-in-out;
}
.Story-inner,
.Story-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Story-gradient {
  z-index: 20;
  background: rgba(#000, .2);
  transition: all .2s ease-in-out;
}
.Story-header {
  text-align: center;
}
.Story-title,
.Story-description {
  color: #fff;
  text-shadow: 0 2px 0 rgba(#000, .3);
}
.Story-title {
  text-transform: uppercase;
}
.Story-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  @media (max-width: $sMedia--m) {
    font-size: 15px;
    line-height: 18px;
  }
}
.Story-img {
  z-index: 10;
  transition: transform .2s ease-out;
}