// Story
// --------------------------------------------------

.Story {
  display: block;
  position: relative;
  margin-bottom: 40px;
  background: $cGrey4;
  overflow: hidden;

  &:hover {
    .Story-gradient {
      z-index: 20;
      background: rgba(#000, .4);
    }
    .Story-inner {
      opacity: 1;
      transform: scale(1.05);
    }
    .Story-img {
      transform: scale(1.01);
    }
  }

  @media (max-width: $sMedia--m) {
    margin-bottom: 20px;
  }
}
.Story-inner {
  z-index: 30;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.Story-inner,
.Story-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Story-gradient {
  z-index: 20;
  background: rgba(#000, .0);
  transition: all .2s ease-in-out;
}
.Story-header {
  text-align: center;
}
.Story-title,
.Story-description {
  font-weight: 400;
  text-shadow: 0 2px 0 rgba(#000, .3);
}
.Story-title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  color: #FFF;

  @media (max-width: $sMedia--m) {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
  }
}
.Story-description {
  color: rgba(#fff, .6);
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;

  @media (max-width: $sMedia--m) {
    font-size: 13px;
    line-height: 16px;
  }
}
.Story-img {
  z-index: 10;
  transition: transform .2s ease-out;
}
