// Titles
// --------------------------------------------------

// Colors
.Title--cTypo1 {
  color: $cTypo1;
}
.Title--cTypo3 {
  color: $cTypo3;
}
.Title--cWhite {
  color: #FFF;
}

// Size
.Title {
  font-weight: 400;
}
.Title--h1 {
  font-size: 36px;
  line-height: 40px;

  @media (max-width: $sMedia--m) {
    font-size: 30px;
    line-height: 36px;
  }
}
.Title--h2 {
  font-size: 24px;
  line-height: 30px;
}
.Title--h3 {
  font-size: 18px;
  line-height: 22px;
}
