// Video
// --------------------------------------------------

.Video {
  background: #eee;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe,
  video {
    position: absolute;
    height: 100%;
  }
}