---
title: Code, design, and mountains
description: >
  Map maker at CartoDB. I'm a 28 year old geek from Valencia living in Madrid. I’m a web enthusiast, passionate about
  technology and design. I climb mountains, too.
layout: default
background_image: "/img/backgrounds/148065923.jpg"
---
{% include navigation.html %}

<div class="Content">
  <div class="u-inner u-inner--l">
    <div class="Content-inner">
      <div class="Home-header">
        <a href="/" class="Avatar Avatar--home">
          <picture>
            <source srcset="/img/about/1363306686_04d7bb3035.jpg 1x, /img/about/1363306686_04d7bb3035@2x.jpg 2x">
            <img src="/img/about/1363306686_04d7bb3035.jpg" alt="matallo" width="100" height="100" />
          </picture>
        </a>

        <h1 class="Content-title">Hi, I'm Carlos Matallín</h1>
        <p class="Content-subtitle">Code, design, and mountains</p>
      </div>

      <div class="Grid">
        <div class="Grid-inner">
          <div class="Grid-cell Grid-cell--col6 Block">
            <div class="Sep"></div>

            <h2 class="Block-title">About</h2>
            <p>I'm a {{ site.years }} year old geek from Valencia living in Madrid. I’m a web enthusiast, passionate about technology and design. I climb mountains, too.</p>

            <p>This is <a href="/usesthis/">what I use</a> to get stuff done.</p>

            <p><a href="/about/" class="Button Button--m"><span>Learn more</span></a></p>
          </div>

          <div class="Grid-cell Grid-cell--col6 Block">
            <div class="Sep"></div>

            <h2 class="Block-title">Work</h2>
            <p>Interaction designer. Currently I work as Front-end developer at <a href="https://cartodb.com/">CartoDB</a>, a location intelligence platform to map your world's data.</p>

            <!-- p><a href="/work/" class="Button Button--m"><span>Portfolio</span></a></p -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Block">
    <div class="u-inner u-inner--l">
      <div class="Sep"></div>

      <h2 class="Block-title">Stories</h2>
    </div>

    <div class="u-inner u-inner--xxl">
      {% assign stories = site.posts | where: "category", "stories" %}
      {% for post in stories | limit: 1 %}
        <a href="{{ post.url }}" class="Story" title="{{ post.description }}">
          <div class="Story-gradient"></div>
          <div class="Story-inner">
            <div class="Story-header">
              <h3 class="Story-title">{{ post.title }}</h3>
              <p class="Story-description">{{ post.when }}</p>
            </div>
          </div>

          {% if post.background_image_mobile %}
            <picture>
              <source media="(min-width: 560px)" srcset="{{ post.background_image }} 1x">
              <source srcset="{{ post.background_image_mobile }} 1x">
              <img src="{{ post.background_image }}" alt="{{ post.title }}" width="1280" height="720" />
            </picture>
          {% else %}
            <img src="{{ post.background_image }}" alt="{{ post.title }}" width="1280" height="720" />
          {% endif %}
        </a>
      {% endfor %}
    </div>

    <div class="u-inner u-inner--l">
      <h2 class="Block-title">Posts</h2>

      <ul class="Posts-list">
        {% for post in site.posts | limit: 5 %}
          <li class="Posts-item">{{ post.date | date_to_string }} <a href="{{ post.url }}" class="Posts-link">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="u-inner u-inner--l">
    <div class="Grid">
      <div class="Grid-inner">
        <div class="Grid-cell Grid-cell--col6 Block">
          <div class="Sep"></div>

          <h2 class="Block-title">Contact</h2>
          <p>Feel free to <a href="mailto:carlos@matallin.com">drop me a line</a>. You can also find me in other social networks.</p>

          <ul class="Social-list">
            <li class="Social-item">
              {% include social/twitter.html %}
            </li>
            <li class="Social-item">
              {% include social/github.html %}
            </li>
            <li class="Social-item">
              {% include social/strava.html %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Sep Sep--center"></div>

<footer class="Footer">
  <div class="u-inner">
    <p class="Footer-credits">© Copyright 2016 Carlos Matallín</p>
  </div>
</footer>
