// Content
// --------------------------------------------------

.Wrapper {
  overflow: hidden;
}
.Content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.Content--map {
  margin-left: 25%;
  margin-right: 25%;

  @include media-query($layout-m) {
    margin-left: auto;
    margin-right: auto;
  }
}
.Content-inner {
  position: relative;
  padding-top: $spacing-unit * 3;
}
.Content-title {
  margin-top: 0;
}
.Content-subtitle {
  margin-bottom: $spacing-unit * 2;
  font-weight: 300;
  font-size: 21px;
  color: #999;
}
.Content-date {
  margin-bottom: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #999;
}
.Content-aside {
  width: 150px;
  float: right;
}
.Content-sep {
  display: block;
  width: 120px;
  height: 2px;
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
  background: #eee;
}
.Content-sep--center {
  display: block;
  width: 120px;
  height: 2px;
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
  background: #eee;
}
