<footer class="Footer">
  <div class="u-inner">
    <div class="Footer-inner">
      <a href="/" class="Avatar">
        <picture>
          <source srcset="/img/about/1363306686_04d7bb3035.jpg 1x, /img/about/1363306686_04d7bb3035@2x.jpg 2x">
          <img src="/img/about/1363306686_04d7bb3035.jpg" alt="matallo" width="100" height="100" />
        </picture>
      </a>

      <p class="Footer-description">Hi, I’m <a href="/">Carlos Matallín</a>. Map maker at <a href="https://carto.com/">CARTO</a>. I'm a {{ site.years }} year old geek from Valencia living in Madrid. I’m a web enthusiast, passionate about technology and design. I climb mountains, too. <a href="/about/">Learn more</a>.</p>
    </div>
  </div>
</footer>
