<footer class="Footer">
  <div class="u-inner">
    <div class="Footer-inner">
      <a href="/" class="Avatar">
        <img srcset="https://res.cloudinary.com/dcuclvhyb/image/upload/c_scale,f_auto,fl_progressive,w_80/v1526775414/matall.in/img/about/1363306686_04d7bb3035.jpg 80w, https://res.cloudinary.com/dcuclvhyb/image/upload/c_scale,f_auto,fl_progressive,w_160/v1526775414/matall.in/img/about/1363306686_04d7bb3035.jpg 160w"
        src="https://res.cloudinary.com/dcuclvhyb/image/upload/c_scale,f_auto,fl_progressive,w_160/v1526775414/matall.in/img/about/1363306686_04d7bb3035.jpg"
        alt="matallo" width="80" height="80">
      </a>

      <p class="Footer-description">Hi, I'm <a href="/">Carlos Matallín</a>. Frontend designer at <a href="https://transferwise.com/">TransferWise</a>. I'm a {% birthday_years site.birthday %} year old explorer from Valencia living in London. I'm a decentralized web enthusiast, passionate about technology and design. I climb mountains, too. <a href="/about/">Learn more</a>.</p>
    </div>
  </div>
</footer>
