  <body>

    <div class="Wrapper">
      

      <footer class="Footer">
        <div class="Sep Sep--footer"></div>

        <div class="u-inner">
          <div class="Footer-inner">
            <a href="/" class="Footer-image">
              <picture>
                <source srcset="img/layout/about/1363306686_04d7bb3035.jpg 1x, img/layout/about/1363306686_04d7bb3035@2x.jpg 2x">
                <img src="img/layout/about/1363306686_04d7bb3035.jpg" alt="matallo" />
              </picture>
            </a>

            <p class="Footer-description">Hi, I’m <a href="/">Carlos Matallín</a>. Map maker at <a href="https://cartodb.com/">CartoDB</a>. I’m a 27 year old geek from Valencia living in Madrid. I’m a web enthusiast, passionate about technology and design. I climb mountains, too. <a href="/about/">Learn more</a>.</p>
          </div>
        </p>
      </footer>
    </div>

