<head>
  <meta charset="utf-8">
  <title>{% if page.title_meta %}{{ page.title_meta }} — {% elsif page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- twitter cards -->
  <meta property="og:title" content="{% if page.title_meta %}{{ page.title_meta }} — {% elsif page.title %}{{ page.title }} — {% endif %}{{ site.title }}"/>
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ '/' | prepend: site.url }}"/>
  {% if page.background_image %}
    <meta property="og:image" content="{{ page.background_image }}">
  {% endif %}

  <meta name="twitter:site" content="@matallo">
  <meta name="twitter:title" content="{% if page.title_meta %}{{ page.title_meta }} — {% elsif page.title %}{{ page.title }} — {% endif %}{{ site.title }}">
  <meta name="twitter:description" content="{% if page.description_meta %}{{ page.description_meta }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.background_image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ page.background_image }}">
  {% else %}
    <meta name="twitter:card" content="summary" />
  {% endif %}

  <!-- build:css(.tmp) /css/vendor.css -->
  <link rel="stylesheet" href="/css/vendor/reset.css">
  <!-- endbuild -->
  <!-- build:css(.tmp) /css/main.css -->
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->
  <!-- build:js(.) /js/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
