<div class="Content Content--cGrey">
  <div class="Content-inner">
    <div class="u-inner u-inner--xxl">
      <div class="Grid">
        <ul class="Grid-inner Grid-inner--shortPadding Grid-inner--hCenter">
          {% assign counter = 0 %}

          {% for post in site.related_posts %}
            {% if counter < 4 %}
              {% assign counter = counter | plus:1 %}
              <li class="Grid-cell Grid-cell--col3 r-sMedia--xl-Grid-cell--col6 r-sMedia--s-Grid-cell--col12 Card-sep Grid">
                <div class="Card">
                  <a href="{{ post.url }}" class="Card-header" title="{{ post.title }}">
                    <div class="Card-img" style="background-image: url(https://res.cloudinary.com/dcuclvhyb/image/upload/ar_16:9,c_fill,fl_progressive,w_520/matall.in{{ post.background_image }})"></div>
                  </a>

                  <div class="Card-inner">
                    <p class="Card-subtitle">{{ post.date | date_to_string }}</p>
                    <h3 class="Title Title--h3 Card-title u-vEllipsis"><a href="{{ post.url }}" class="Card-link">{{ post.title }}</a></h3>
                    <p class="Card-description u-vEllipsis u-vEllipsis--lin3">{{ post.description | truncate: 150 }}</p>
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
