<div id="Share">
  <p><a href="https://twitter.com/intent/tweet?text={% if page.twitter_text %}{{ page.twitter_text }}{% elsif page.title_meta %}{{ page.title_meta }}{% elsif page.title %}{{ page.title }}{% endif %}&amp;url={{ page.url | prepend: site.url }}&amp;via=matallo" class="Button Button--m"><span><span class="Icon Icon--s12">{% include icons/icon-twitter.svg %}</span> Tweet this</span></a></p>

  <p>Published <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time> in {{ page.categories.first | capitalize }}. If you want to receive new articles when they come out, <a href="http://eepurl.com/bDKLp1" target="_blank" rel="noopener">enter your email address here</a> or subscribe to the <a href="/feed.xml">RSS feed</a>.</p>
</div>
