* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 20px;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  @media (max-width: $layout-m) {
    font-size: 30px;
    line-height: 36px;
  }
}
h2, h3 {
  margin-top: 40px;
  font-weight: 300;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: #444;
}
h3 {
  font-size: 18px;
  line-height: 22px;
  color: #999;
}
p, ul, ol {
  &:last-child {
    margin-bottom: 0;
  }
}
blockquote {
  margin: 40px;
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
  text-align: center;

  @media (max-width: $layout-m) {
    margin: 40px 20px;
  }

  span {
    position: relative;
    font-weight: 700;
    font-size: 31px;
    line-height: 0;
    color: #EEE;

    &:first-child {
      left: -5px;
    }
    &:last-child {
      right: -5px;
    }
  }
}
a {
  font-weight: 600;
  text-decoration: none;
  color: $red2;
  transition: all .2s;

  &:hover {
    text-decoration: underline;
    color: $red1;
  }
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
abbr {
  border-bottom: 1px dotted #ddd;
}
button {
  margin: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: $font-family-base;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
sup {
  top: -0.5em;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
pre,
code {
  font-size: 13px;
  font-family: 'PT Mono', monospace;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f9f9f9;
}
code {
  padding: 1px 5px;
}
