* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background-color: #FFF;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $cTypo2;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 20px;
}
p, ul, ol {
  &:last-child {
    margin-bottom: 0;
  }
}
a {
  color: $cRed2;
  transition: color .2s;

  &:hover {
    color: $cRed1;
  }
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
abbr {
  border-bottom: 1px dotted #ddd;
}
button {
  margin: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: $font-family-base;
}
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
sup {
  top: -0.5em;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
pre,
code {
  font-size: 13px;
  font-family: 'PT Mono', monospace;
  border: 1px solid $cGrey2;
  border-radius: 3px;
  background-color: $cGrey4;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 16px;
  line-height: 24px;
  overflow-x: auto;
  white-space: pre-line;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
