// Utilities
// --------------------------------------------------

.u-inner {
  @include clearfix;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: $layout-m;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}
.u-inner.u-inner--l {
  max-width: $layout-l;
}
.u-inner.u-inner--xxl {
  max-width: $layout-xxl;
}
