// Utilities
// --------------------------------------------------

.u-inner {
  @include clearfix;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: $layout-m;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.u-inner--l {
  max-width: $layout-l;
}
.u-inner--xxl {
  max-width: $layout-xxl;
}
.u-strike {
  text-decoration: line-through;
}
.u-hEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.u-vEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.u-vEllipsis--lin3 {
  -webkit-line-clamp: 3;
}
