// Utilities
// --------------------------------------------------

.u-inner {
  @include clearfix;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: $layout-m;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.u-inner--l {
  max-width: $layout-l;
}
.u-inner--xxl {
  max-width: $layout-xxl;
}
.u-strike {
  text-decoration: line-through;
}
