// Variables
// --------------------------------------------------

// Layout
$sMedia--xxl: 1280px;
$sMedia--xl: 1040px;
$sMedia--l: 960px;
$sMedia--m: 800px;
$sMedia--s: 560px;
// $sMedia--xs: 374px;

$viewports: (
  sMedia--xxl: $sMedia--xxl,
  sMedia--xl: $sMedia--xl,
  sMedia--l: $sMedia--l,
  sMedia--m: $sMedia--m,
  sMedia--s: $sMedia--s,
);

// Font
$font-weight-base: 400;
$font-size-base: 15px;
$line-height-base: 26.25px;
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;

// Colors
$cTypo1: #222;
$cTypo2: #444;
$cTypo3: #999;

$cRed1: #d0021b;
$cRed2: lighten(#d0021b, 5%);
$cRed3: #f24440;

$cGrey1: #ccc;
$cGrey2: #ddd;
$cGrey3: #eee;
$cGrey4: #f9f9f9;

$cGold: #f93;
$cTwitter: #03b3ee;
