// Variables
// --------------------------------------------------

// Layout
$sMedia--xxl: 1280px;
$sMedia--xl: 1040px;
$sMedia--l: 960px;
$sMedia--m: 800px;
$sMedia--s: 560px;
// $sMedia--xs: 374px;

$viewports: (
  sMedia--xxl: $sMedia--xxl,
  sMedia--xl: $sMedia--xl,
  sMedia--l: $sMedia--l,
  sMedia--m: $sMedia--m,
  sMedia--s: $sMedia--s
);

// Font
$font-weight-base: 400;
$font-size-base: 15px;
$line-height-base: 26.25px;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

// Colors
$cTypo1: #111;
$cTypo2: #444;
$cTypo3: #999;

$cRed1: #D0021B;
$cRed2: lighten(#D0021B, 5%);
$cRed3: #F24440;

$cGrey1: #CCC;
$cGrey2: #DDD;
$cGrey3: #EEE;
$cGrey4: rgba(#EDF2F5, .5);
$cGrey5: #F9F9F9;

$cGold: #F93;
$cTwitter: #03B3EE;
